#/*
.gradle
#bin/**/*
build/**/*
out/**/*
.vscode/
#**/src-gen
buildSrc/build
ads
license
ctxAuthZQuery
scripts
src-gen
#!/src/authorizationDomain
#!/README.md
Dockerfile
LICENSE.md
README copy.md
build.gradle
buildSrc/
deployment.yaml
extra/
gradle.properties
gradle/
gradlew
gradlew.bat
headers.json
jwt/
settings.gradle
src/extra
src/test